@charset "UTF-8";
@import url("../../assets/css/fonts.css");
* {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  outline: 0; }

body {
  color: #000;
  font-family: 'SegoeWPN','STHeiti','simhei','Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  padding-bottom: 50px;
  overflow-x: hidden; }

ul, li {
  list-style-type: none; }

input {
  outline: none; }

.text-center {
  text-align: center; }

section.article-header {
  background: -webkit-linear-gradient(left, #333, #808080);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left, #333, #808080);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left, #333, #808080);
  /* Firefox 3.6 - 15 */
  background: -ms-linear-gradient(left, #333, #808080);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(left, #333, #808080);
  /* 标准的语法 */
  position: relative; }

section.article-header {
  background: url("../../assets/images/blog/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 500px; }

section.article-wrapper .container, section.article-wrapper .container .row, section.article-wrapper .container .row .col-xs-12 {
  height: 100%; }

section.article-header {
  overflow: hidden; }
  section.article-header .container {
    height: 100%; }
    section.article-header .container .row {
      height: 100%; }
      section.article-header .container .row .col-xs-12 {
        height: 100%; }
  section.article-header .mask {
    width: 100%;
    z-index: 9999; }
    section.article-header .mask img {
      width: 100%; }
  section.article-header .mask2 {
    width: 100%;
    z-index: 1;
    height: 400px;
    bottom: 0px;
    position: absolute;
    background: -webkit-linear-gradient(bottom, #000, transparent);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom, #000, transparent);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom, #000, transparent);
    /* Firefox 3.6 - 15 */
    background: -ms-linear-gradient(bottom, #000, transparent);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(bottom, #000, transparent);
    /* 标准的语法 */
    opacity: 0.6; }
  section.article-header .meg-prompt-wrapper {
    position: absolute;
    margin-top: -30px;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: left;
    z-index: 999;
    width: calc(100% - 30px); }
    section.article-header .meg-prompt-wrapper .title {
      font-family: 'SegoeWPN-Bold';
      font-weight: bold;
      font-size: 0.34375rem; }
    section.article-header .meg-prompt-wrapper .content {
      font-size: 0.125rem;
      line-height: 0.1675rem;
      word-wrap: break-word;
      word-break: break-all;
      padding-top: 10px; }
      section.article-header .meg-prompt-wrapper .content .weight {
        font-family: 'SegoeWPN-Bold';
        font-weight: bold; }
    section.article-header .meg-prompt-wrapper .bottom a {
      color: #fff;
      font-size: 0.125rem;
      display: inline-block;
      padding-top: 0.14rem;
      text-decoration: none; }

section.article-wrapper {
  background: -webkit-linear-gradient(left, #000, #333);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left, #000, #333);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left, #000, #333);
  /* Firefox 3.6 - 15 */
  background: -ms-linear-gradient(left, #000, #333);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(left, #000, #333);
  /* 标准的语法 */
  height: 100px;
  position: relative;
  overflow-x: hidden; }
  section.article-wrapper .join-wrapper {
    position: absolute;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: left;
    z-index: 999; }
    section.article-wrapper .join-wrapper .title {
      font-family: 'SegoeWPN-Bold';
      font-weight: bold;
      font-size: 0.2375rem;
      line-height: 0.25rem; }
    section.article-wrapper .join-wrapper .content {
      font-size: 0.15625rem;
      word-wrap: break-word;
      word-break: break-all; }

section.content-section {
  position: relative; }
  section.content-section .title {
    color: #000;
    padding: 0.375rem 0 0.35rem 0;
    font-family: 'SegoeWPN-Bold';
    font-size: 0.21875rem;
    font-weight: bold; }
  section.content-section .container .row .col-xs-12 .all-wrapper {
    min-height: 6.875rem; }
    section.content-section .container .row .col-xs-12 .all-wrapper .row .articles-wrapper {
      padding: 0.275rem 0 0 0; }
      section.content-section .container .row .col-xs-12 .all-wrapper .row .articles-wrapper:last-child {
        padding-bottom: 0.3rem; }
      section.content-section .container .row .col-xs-12 .all-wrapper .row .articles-wrapper .title {
        font-size: 0.125rem;
        padding: 0 0 0.03rem 0; }
      section.content-section .container .row .col-xs-12 .all-wrapper .row .articles-wrapper .subtitle {
        font-size: 0.09375rem;
        padding: 0 0 0.05rem 0; }
      section.content-section .container .row .col-xs-12 .all-wrapper .row .articles-wrapper .content {
        padding-top: 0;
        padding-bottom: 0.3rem;
        line-height: 15.5px; }
  section.content-section .container .row .col-xs-12 .top-wrapper {
    position: relative;
    background: url("../../assets/images/blog/content2.png");
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }
    section.content-section .container .row .col-xs-12 .top-wrapper .titles {
      position: absolute;
      top: 132px;
      left: 20px;
      padding-right: 20px;
      -ms-word-break: break-all;
      word-break: break-all;
      word-wrap: break-word;
      max-width: 490px;
      color: #fff; }
      section.content-section .container .row .col-xs-12 .top-wrapper .titles .title1 {
        font-family: SegoeWPN-Bold;
        font-size: 0.125rem;
        margin-bottom: 0.04rem; }
      section.content-section .container .row .col-xs-12 .top-wrapper .titles .title2 {
        font-size: 0.09375rem;
        margin-bottom: 0.05rem; }
      section.content-section .container .row .col-xs-12 .top-wrapper .titles .title3 {
        font-size: 13px; }
      section.content-section .container .row .col-xs-12 .top-wrapper .titles .hr {
        margin: 0.09375rem 0 0.08rem 0; }
      section.content-section .container .row .col-xs-12 .top-wrapper .titles .content1 {
        font-size: 13px;
        line-height: 15.5px;
        height: 47px;
        overflow: hidden; }
      section.content-section .container .row .col-xs-12 .top-wrapper .titles .readMore {
        color: #b2272d;
        font-size: 13px;
        text-decoration: none;
        cursor: pointer; }
  section.content-section .container .row .col-xs-12 .post-wrapper {
    padding-bottom: 0.21875rem;
    position: relative; }
    section.content-section .container .row .col-xs-12 .post-wrapper img {
      width: 100%;
      margin-bottom: 0.175rem; }
    section.content-section .container .row .col-xs-12 .post-wrapper .titles {
      -ms-word-break: break-all;
      word-break: break-all;
      word-wrap: break-word;
      color: #000; }
      section.content-section .container .row .col-xs-12 .post-wrapper .titles .title1 {
        font-family: SegoeWPN-Bold;
        font-size: 0.125rem;
        margin-bottom: 0.05rem; }
      section.content-section .container .row .col-xs-12 .post-wrapper .titles .title2 {
        font-size: 0.09375rem;
        margin-bottom: 0.06rem; }
      section.content-section .container .row .col-xs-12 .post-wrapper .titles .title3 {
        font-size: 13px; }
      section.content-section .container .row .col-xs-12 .post-wrapper .titles .hr {
        margin: 0.125rem 0; }
      section.content-section .container .row .col-xs-12 .post-wrapper .titles .content1 {
        font-size: 13px;
        line-height: 15.5px;
        height: 78px;
        overflow: hidden; }
      section.content-section .container .row .col-xs-12 .post-wrapper .titles .readMore {
        color: #b2272d;
        font-size: 13px;
        text-decoration: none; }
  section.content-section .container .row .col-xs-12 .img-wrapper {
    position: relative;
    height: 100%; }
    section.content-section .container .row .col-xs-12 .img-wrapper img {
      width: 100%; }
    section.content-section .container .row .col-xs-12 .img-wrapper img:last-child {
      position: absolute;
      bottom: 0;
      left: 0; }
  section.content-section .container .row .col-xs-12 .subtitle {
    font-size: 0.09375rem;
    padding: 0.5rem 0 0.25rem 0; }
    section.content-section .container .row .col-xs-12 .subtitle span.red {
      color: #b2272d; }
  section.content-section .container .row .col-xs-12 .hr {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2); }
  section.content-section .container .row .col-xs-12 .row .col-xs-12 .content {
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0.3125rem 0 0.475rem 0;
    font-size: 13px;
    line-height: 16px;
    text-align: justify;
    text-justify: inter-ideograph; }
    section.content-section .container .row .col-xs-12 .row .col-xs-12 .content span {
      　display: inline-block;
      　padding-left: 100%; }
    section.content-section .container .row .col-xs-12 .row .col-xs-12 .content .not-find .tryAgain {
      font-family: SegoeWPN-Bold;
      font-size: 0.125rem; }
    section.content-section .container .row .col-xs-12 .row .col-xs-12 .content .not-find .tryAgainContent {
      font-size: 13px;
      margin-top: 15px; }
  section.content-section .container .row .col-xs-12 .row .col-xs-12 .tags {
    margin-bottom: 0.21875rem; }
    section.content-section .container .row .col-xs-12 .row .col-xs-12 .tags .tag {
      display: inline-block;
      width: 100px;
      height: 30px;
      line-height: 30px;
      background: #f7f7f7;
      text-align: center;
      margin-right: 8px;
      margin-bottom: 0.09375rem; }
  section.content-section .container .row .col-xs-12 .row .col-xs-12 .search-module .input {
    position: relative; }
    section.content-section .container .row .col-xs-12 .row .col-xs-12 .search-module .input input {
      width: 100%;
      height: 0.375rem;
      font-size: 0.09375rem;
      outline: 0;
      padding-left: 0.125rem;
      border: 1px solid #e7e7e7;
      line-height: normal; }
    section.content-section .container .row .col-xs-12 .row .col-xs-12 .search-module .input i {
      position: absolute;
      line-height: 0.375rem;
      right: 21px;
      font-size: 0.15625rem; }
      section.content-section .container .row .col-xs-12 .row .col-xs-12 .search-module .input i.main-i {
        right: 21px; }
  section.content-section .container .row .col-xs-12 .row .col-xs-12 .search-module .related .title {
    padding: 0.28215rem 0 0 0; }
  section.content-section .container .row .col-xs-12 .row .col-xs-12 .search-module .related .related-title {
    margin-top: 0.1875rem;
    font-size: 0.125rem;
    font-family: SegoeWPN-Bold;
    color: #000;
    display: block;
    text-decoration: none; }
    section.content-section .container .row .col-xs-12 .row .col-xs-12 .search-module .related .related-title:last-child {
      margin-bottom: 0.1875rem; }
  section.content-section .container .row .col-xs-12 .row .col-md-8 {
    padding-right: 60px; }

section.recentPosts-section .row {
  margin: 0 -12px; }
  section.recentPosts-section .row .col-xs-12 {
    padding: 0 12px; }
    section.recentPosts-section .row .col-xs-12 .search-module {
      margin: -0.08rem 0 0.3125rem 0; }
    section.recentPosts-section .row .col-xs-12 .showPre {
      color: #000;
      float: left;
      position: relative; }
      section.recentPosts-section .row .col-xs-12 .showPre .triangle-left {
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-right: 14px solid #000;
        border-bottom: 7px solid transparent; }
      section.recentPosts-section .row .col-xs-12 .showPre .showPost {
        display: inline-block;
        float: left;
        position: absolute;
        top: -3px;
        left: 22px;
        width: 80px; }
      section.recentPosts-section .row .col-xs-12 .showPre:hover {
        color: #666; }
        section.recentPosts-section .row .col-xs-12 .showPre:hover .triangle-left {
          border-right: 14px solid #666; }
    section.recentPosts-section .row .col-xs-12 .showNext {
      float: left;
      color: #000;
      position: relative;
      margin-left: 100px; }
      section.recentPosts-section .row .col-xs-12 .showNext:hover {
        color: #666; }
        section.recentPosts-section .row .col-xs-12 .showNext:hover .triangle-right {
          border-left: 14px solid #666; }
      section.recentPosts-section .row .col-xs-12 .showNext .triangle-right {
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 14px solid #000;
        border-bottom: 7px solid transparent;
        margin-left: 88px; }
      section.recentPosts-section .row .col-xs-12 .showNext .showPost {
        display: inline-block;
        float: left;
        position: absolute;
        top: -3px;
        width: 80px; }

section.related-section .row {
  margin: 0 -12px; }
  section.related-section .row .col-xs-12 {
    padding: 0 12px; }
    section.related-section .row .col-xs-12 > a {
      width: 100%;
      display: inline-block; }
    section.related-section .row .col-xs-12.col-sm-6:first-child {
      padding-left: 15px; }
    section.related-section .row .col-xs-12.col-sm-6:last-child {
      padding-right: 15px; }
  section.related-section .row .title {
    color: #000;
    padding: 0.21875rem 0;
    font-family: 'SegoeWPN-Bold';
    font-size: 0.21875rem; }
  section.related-section .row .related-title {
    color: #000;
    text-decoration: none;
    font-size: 0.125rem;
    font-family: SegoeWPN-Bold;
    margin: 0.15625rem 0; }
  section.related-section .row img {
    width: 100%; }

@media all and (max-width: 1600px) and (min-width: 768px) {
  section.events-main .meg-prompt-wrapper .title {
    font-size: 0.27rem; }
  section.events-main .meg-prompt-wrapper .content {
    font-size: 0.11rem;
    padding: 0 5%; }

  .events-join-wrapper .join-wrapper .title {
    font-size: 0.2rem;
    line-height: 0.23rem; }
  .events-join-wrapper .join-wrapper .content {
    font-size: 0.13rem; }

  .next-event-section .title {
    font-size: 0.18rem;
    padding: 0.3rem 0 0.275rem 0; }
  .next-event-section .next-event-wrapper .title {
    font-size: 0.18rem; }
  .next-event-section .next-event-wrapper .subtitle {
    font-size: 0.11rem !important;
    line-height: 0.13rem !important; } }
@media all and (max-width: 992px) {
  .meg-prompt .submit-div.right-link {
    float: none;
    text-align: center;
    height: auto; } }
@media screen and (max-width: 767px) {
  .next-event-section .next-event-wrapper .content {
    line-height: 0.15rem !important; }
  .next-event-section .next-event-wrapper .title {
    line-height: 0.27rem !important; }
  .next-event-section .next-event-wrapper .container2 {
    position: absolute;
    bottom: 0.15625rem;
    width: calc(100% - 50px);
    word-break: break-all;
    padding-left: 20px; }

  section.events-main .meg-prompt-wrapper {
    width: calc( 100% - 30px);
    margin-left: auto; }
    section.events-main .meg-prompt-wrapper .title {
      font-size: 0.25rem; }
    section.events-main .meg-prompt-wrapper .content {
      padding: 0 !important; }

  .upcoming-section .content .content-wrapper .right {
    margin-top: 0.1rem;
    line-height: 16px;
    height: 66px;
    font-size: 13px; } }
a:hover, a:focus {
  text-decoration: none !important; }

@media all and (max-width: 991px) {
  section.content-section .container .row .col-xs-12 .row .col-md-8 {
    padding-right: 15px; } }
.tcdNumber, .current, .pre-page, .next-page {
  display: none; }

/*# sourceMappingURL=blog.css.map */
