@charset "UTF-8";
@import url("../../assets/css/fonts.css");
* {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased; }

html {
  -webkit-text-size-adjust: none;
  outline: 0; }

body {
  color: #666;
  font-family: 'SegoeWPN','STHeiti','simhei','Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  padding-bottom: 50px; }

ul, li {
  list-style-type: none; }

input {
  outline: none;
  font-family: 'SegoeWPN','STHeiti','simhei','Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', SimSun, sans-serif; }

.text-center {
  text-align: center; }

.show-error {
  background: #b2272d;
  height: 60px;
  width: 100%;
  line-height: 60px;
  color: #fff;
  font-family: SegoeWPN-Bold;
  font-size: 0.1125rem;
  position: fixed;
  z-index: 999;
  top: 0;
  text-align: center;
  display: none; }

.dist:disabled {
  display: none; }

ul.cartHeader {
  width: 100%;
  overflow: auto;
  padding-bottom: 0.1375rem;
  border-bottom: 1px solid #a4a4a4; }
  ul.cartHeader li {
    float: left;
    font-size: 0.21875rem;
    font-family: SegoeWPN-Bold;
    color: #a4a4a4; }
    ul.cartHeader li.first {
      width: 23.7168%; }
    ul.cartHeader li.second {
      width: 33.5398%; }
    ul.cartHeader li.third {
      width: 31.4159%; }
    ul.cartHeader li.forth {
      float: right; }
    ul.cartHeader li.active {
      color: #000; }

@media all and (max-width: 1200px) {
  ul.cartHeader li {
    font-size: 0.19rem;
    color: #a4a4a4; }
    ul.cartHeader li.first {
      width: 18%; }
    ul.cartHeader li.second {
      width: 35%; }
    ul.cartHeader li.third {
      width: 29%; } }
.shippingInfo-main {
  padding: 0 0 0.3rem 0;
  margin-top: 60px; }
  .shippingInfo-main .shippinginfo-content {
    padding-bottom: 18px; }
    .shippingInfo-main .shippinginfo-content .left {
      border-bottom: 1px solid #a4a4a4;
      margin: 15px 0; }
      .shippingInfo-main .shippinginfo-content .left > .row {
        margin-bottom: 0.109375rem; }
        .shippingInfo-main .shippinginfo-content .left > .row:last-child {
          margin-bottom: 0; }
      .shippingInfo-main .shippinginfo-content .left .col-s-1, .shippingInfo-main .shippinginfo-content .left .col-s-2 {
        margin-bottom: 0.109375rem; }
        .shippingInfo-main .shippinginfo-content .left .col-s-1:last-child, .shippingInfo-main .shippinginfo-content .left .col-s-2:last-child {
          margin-bottom: 0; }
        .shippingInfo-main .shippinginfo-content .left .col-s-1 .content .title, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .title {
          font-size: 0.09375rem;
          color: #000;
          margin-bottom: 0.1rem; }
        .shippingInfo-main .shippinginfo-content .left .col-s-1 .content .input input, .shippingInfo-main .shippinginfo-content .left .col-s-1 .content .input select, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input input, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input select {
          width: 100%;
          height: 30px;
          border: 1px solid #a4a4a4;
          font-size: 12px;
          padding-left: 10px;
          color: #a4a4a4;
          border-radius: 2px;
          outline: none; }
        .shippingInfo-main .shippinginfo-content .left .col-s-1 .content .input select, .shippingInfo-main .shippinginfo-content .left .col-s-1 .content .input .input-wrapper, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input select, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input .input-wrapper {
          width: 30%;
          margin-right: 2%;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: transparent;
          float: left; }
          .shippingInfo-main .shippinginfo-content .left .col-s-1 .content .input select:last-child, .shippingInfo-main .shippinginfo-content .left .col-s-1 .content .input .input-wrapper:last-child, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input select:last-child, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input .input-wrapper:last-child {
            margin-right: 0; }
        .shippingInfo-main .shippinginfo-content .left .col-s-1 .content .input .selectbySorted, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input .selectbySorted {
          width: 100%; }
        .shippingInfo-main .shippinginfo-content .left .col-s-1 .content .input .sod_select, .shippingInfo-main .shippinginfo-content .left .col-s-1 .content .input .sod_label, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input .sod_select, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input .sod_label {
          height: 30px;
          line-height: 28px;
          background: none; }
        .shippingInfo-main .shippinginfo-content .left .col-s-1 .content .input .sod_select, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input .sod_select {
          padding-left: 10px;
          border: 1px solid #a4a4a4;
          color: #a4a4a4;
          border-radius: 2px; }
        .shippingInfo-main .shippinginfo-content .left .col-s-1 .content .input .sod_select .sod_list li, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input .sod_select .sod_list li {
          padding: 0 0 0 10px;
          line-height: 28px; }
        .shippingInfo-main .shippinginfo-content .left .col-s-1 .content .input#select-country .sod_select, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input#select-country .sod_select {
          width: 30%;
          margin-right: 2%;
          display: inline-block;
          float: left; }
        .shippingInfo-main .shippinginfo-content .left .col-s-1 .content .input#select-country .sod_list ul, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input#select-country .sod_list ul {
          max-height: 112px !important; }
      .shippingInfo-main .shippinginfo-content .left .col-st-1 {
        margin-bottom: 0.109375rem; }
        .shippingInfo-main .shippinginfo-content .left .col-st-1 .content .title {
          font-size: 0.09375rem;
          color: #000;
          margin-bottom: 0.1rem; }
        .shippingInfo-main .shippinginfo-content .left .col-st-1 .content .input input {
          width: calc(100% - 50px);
          height: 30px;
          border: 1px solid #a4a4a4;
          font-size: 12px;
          padding-left: 10px;
          color: #a4a4a4;
          border-radius: 2px; }
      .shippingInfo-main .shippinginfo-content .left .pay-items {
        margin-right: 30px; }
        .shippingInfo-main .shippinginfo-content .left .pay-items .item {
          padding: 3px 30px; }
          .shippingInfo-main .shippinginfo-content .left .pay-items .item.selected {
            padding: 20px 30px 30px 30px;
            margin: 15px 0; }
          .shippingInfo-main .shippinginfo-content .left .pay-items .item .title {
            font-size: 0.125rem;
            font-family: SegoeWPN-Bold;
            color: #000;
            line-height: 46px; }
          .shippingInfo-main .shippinginfo-content .left .pay-items .item.selected {
            background: #e3e3e3;
            border-radius: 5px;
            border: 1px solid #7f7f7f; }
          .shippingInfo-main .shippinginfo-content .left .pay-items .item > div {
            overflow: auto; }
            .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .img-wrapper {
              overflow: auto;
              display: inline-block;
              float: left;
              text-align: center;
              width: 225px; }
              .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .img-wrapper:before {
                content: ".";
                /* 具体的值与垂直居中无关，尽可能的节省字符 */
                margin-left: -5px;
                font-size: 10px;
                /* 修复居中的小BUG */
                visibility: hidden;
                /*设置成隐藏元素*/
                line-height: 45px; }
              .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .img-wrapper img:first-child {
                max-height: 45px;
                margin: 0 auto; }
              .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .img-wrapper img.debit-img, .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .img-wrapper img.wechat-img {
                max-height: 48px; }
            .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content {
              float: right;
              text-align: left;
              width: calc(100% - 225px); }
              .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .title {
                font-size: 0.125rem;
                font-family: SegoeWPN-Bold;
                color: #000;
                line-height: 46px; }
              .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content .qrcode-wrapper {
                width: auto;
                padding-left: 0.5rem;
                text-align: center;
                margin-top: 10px;
                overflow: hidden; }
                .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content .qrcode-wrapper img {
                  height: 0.975rem;
                  max-height: 130px; }
                .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content .qrcode-wrapper .show-msg {
                  color: #000;
                  font-size: 0.09375rem;
                  line-height: 18.5px;
                  margin-top: 8px; }
              .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content .subtitle {
                font-size: 0.09375rem;
                color: #000;
                margin: 8px 0 15px 0;
                font-family: SegoeWPN; }
              .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content input {
                display: block;
                width: 143px;
                height: 30px;
                border: 1px solid #7f7f7f;
                font-size: 12px;
                color: #7f7f7f;
                padding: 0 9px; }
                .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content input:-ms-input-placeholder {
                  text-align: center; }
                .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content input::-webkit-input-placeholder {
                  text-align: center; }
                .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content input::-moz-placeholder {
                  text-align: center; }
              .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content .left {
                width: auto;
                border: none;
                margin: 0;
                float: left;
                padding: 0; }
                .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content .left input {
                  width: 95px; }
                .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content .left .subtitle {
                  margin: 17px 0; }
              .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content .right {
                margin: 0;
                width: auto;
                padding-left: 20px;
                padding-bottom: 0;
                float: left; }
                .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content .right input {
                  width: 75px; }
                .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content .right .subtitle {
                  margin: 17px 0; }
              .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content .checkbox-input {
                display: inline-block;
                position: relative;
                margin-top: 20px;
                line-height: 12px;
                width: 100%; }
                .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content .checkbox-input input[type='checkbox'] {
                  float: left;
                  width: auto;
                  margin-right: 11px; }
                .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content .checkbox-input.payment-checkbox-input {
                  margin-top: 30px; }
              .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content .content p {
                font-size: 13px;
                color: #000;
                line-height: 15px;
                padding-left: 26px;
                margin: 36px 0 15px 0; }
      .shippingInfo-main .shippinginfo-content .left.review .title {
        font-size: 0.15625rem;
        font-family: SegoeWPN-Bold;
        margin-bottom: 15px;
        color: #000; }
      .shippingInfo-main .shippinginfo-content .left.review .subtitle {
        font-size: 0.125rem;
        font-family: SegoeWPN-Bold;
        color: #000;
        margin-bottom: 10px; }
      .shippingInfo-main .shippinginfo-content .left.review .address-content {
        padding-top: 7px;
        font-size: 0.09375rem;
        color: #000;
        line-height: 19px; }
        .shippingInfo-main .shippinginfo-content .left.review .address-content a {
          background: #e3e3e3;
          display: inline-block;
          text-align: center;
          text-decoration: none;
          width: 70px;
          height: 30px;
          line-height: 28px;
          border: 1px solid #a4a4a4;
          color: #000;
          font-size: 12px;
          font-family: SegoeWPN-Bold;
          margin: 28px 0 30px 0;
          padding-right: 1px;
          border-radius: 2px; }
      .shippingInfo-main .shippinginfo-content .left.review .col-xs-12 {
        margin-bottom: 22px; }
      @media all and (min-width: 992px) {
        .shippingInfo-main .shippinginfo-content .left.review .second {
          margin-left: -40px; }
          .shippingInfo-main .shippinginfo-content .left.review .second.text-left {
            text-align: center; }
        .shippingInfo-main .shippinginfo-content .left.review .third {
          margin-left: 10px; }
          .shippingInfo-main .shippinginfo-content .left.review .third.text-left {
            text-align: center; } }
    .shippingInfo-main .shippinginfo-content .right .hr {
      margin-bottom: 24px;
      margin-top: 2px; }
    .shippingInfo-main .shippinginfo-content .right .title {
      font-size: 0.15625rem;
      font-family: SegoeWPN-Bold;
      margin-bottom: 15px;
      color: #000;
      margin-top: 11px; }
    .shippingInfo-main .shippinginfo-content .right .subtitle {
      font-size: 0.125rem;
      font-family: SegoeWPN-Bold;
      color: #000;
      margin-bottom: 15px; }
    .shippingInfo-main .shippinginfo-content .right .address-content {
      padding-top: 7px;
      font-size: 0.09375rem;
      line-height: 19px;
      color: #000; }
      .shippingInfo-main .shippinginfo-content .right .address-content a {
        background: #e3e3e3;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        width: 70px;
        height: 30px;
        line-height: 28px;
        border: 1px solid #a4a4a4;
        color: #000;
        font-size: 12px;
        font-family: SegoeWPN-Bold;
        margin: 28px 0 30px 0;
        padding-right: 1px;
        border-radius: 2px; }
    .shippingInfo-main .shippinginfo-content .right .content {
      color: #000; }
      .shippingInfo-main .shippinginfo-content .right .content ul li {
        width: 100%;
        height: 27px;
        line-height: 27px; }
        .shippingInfo-main .shippinginfo-content .right .content ul li div {
          float: right;
          font-size: 0.09375rem;
          color: #000; }
          .shippingInfo-main .shippinginfo-content .right .content ul li div.weight {
            font-weight: bold;
            font-size: 0.125rem; }
      .shippingInfo-main .shippinginfo-content .right .content a {
        background: #e3e3e3;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        width: 70px;
        height: 30px;
        line-height: 28px;
        border: 1px solid #a4a4a4;
        color: #000;
        font-size: 12px;
        font-family: SegoeWPN-Bold;
        margin: 15px 0;
        padding-right: 1px;
        border-radius: 2px; }
  .shippingInfo-main .hr {
    background: #a4a4a4;
    height: 1px;
    width: 100%; }
  .shippingInfo-main .proceed-bar {
    margin: 30px 0;
    font-family: SegoeWP-Bold;
    font-size: 12px;
    display: inline-block;
    width: 1.4375rem;
    min-width: 180px;
    height: 30px;
    line-height: 28.5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    background: -webkit-linear-gradient(left, #381211, #931a1d);
    background: -o-linear-gradient(left, #381211, #931a1d);
    background: -moz-linear-gradient(left, #381211, #931a1d);
    background: -ms-linear-gradient(left, #381211, #931a1d);
    background: linear-gradient(left, #381211, #931a1d);
    cursor: pointer;
    position: relative; }

@media all and (min-width: 768px) {
  .col-s-1, .col-s-2 {
    width: 50%; }

  .col-st-1 {
    width: 50%; } }
@media all and (min-width: 992px) {
  .col-s-1 {
    width: 36.875%; }
    .col-s-1.col-xs-12 {
      padding-right: 35px; }

  .col-s-2 {
    width: 63.125%; }

  .col-st-1 {
    width: 26.25%; }

  .shippingInfo-main .shippinginfo-content .left {
    width: 71.327%;
    float: left;
    border-right: 1px solid #a4a4a4;
    border-bottom: 0; }
  .shippingInfo-main .shippinginfo-content .right {
    width: 28.673%;
    float: left;
    padding-left: 30px; } }
@media all and (min-width: 1200px) {
  .shippingInfo-main .container {
    width: 1130px;
    max-width: 1130px;
    margin: 0 auto; } }
@media all and (max-width: 991px) {
  .shippingInfo-main .shippinginfo-content .left .col-st-1 .content .input select, .shippingInfo-main .shippinginfo-content .left .col-st-1 .content .input .input-wrapper, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input select, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input .input-wrapper {
    width: calc(31.4% - 3px);
    margin-right: 3%; }
  .shippingInfo-main .shippinginfo-content .left .col-st-1 .content .input input, .shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input input {
    width: 100%; }

  .shippingInfo-main .shippinginfo-content .left {
    padding-bottom: 22px; }
  .shippingInfo-main .shippinginfo-content form .row {
    margin: 15px -15px; }

  .shippingInfo-main .shippinginfo-content .left .pay-items {
    margin: 0; }

  .input-wrapper {
    width: calc(31.2% - 0px) !important;
    margin-right: 3% !important; }
    .input-wrapper:last-child {
      margin-right: 0px !important; } }
@media all and (max-width: 615px) {
  .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .img-wrapper {
    width: 145px; }
    .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .img-wrapper img:first-child {
      max-height: 36px; }
    .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .img-wrapper img.alipay-img {
      max-height: 28px; }
  .shippingInfo-main .shippinginfo-content .left .pay-items .item > div .right-content {
    width: 100%; }

  .shippingInfo-main .shippinginfo-content .left .pay-items .item {
    padding: 10px 20px 20px 20px; }
    .shippingInfo-main .shippinginfo-content .left .pay-items .item.selected {
      padding: 10px 20px 20px 20px; } }
.squaredThree {
  width: 300px;
  overflow: hidden;
  height: 18px; }
  .squaredThree .link-word {
    width: 125px;
    position: absolute;
    display: table;
    top: 2px;
    left: 26px;
    font-weight: 100;
    font-size: 12px;
    color: #000; }
    .squaredThree .link-word.link-send {
      width: 300px;
      font-size: 0.09375rem; }

.squaredThree .link-label {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(top, #666 0%, #bdbdbd 100%);
  background: -webkit-linear-gradient(top, #666 0%, #bdbdbd 100%);
  background: linear-gradient(to bottom, #666 0%, #bdbdbd 100%);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #0d0d0d; }
  .squaredThree .link-label:after {
    content: "";
    display: block;
    position: absolute;
    left: -50%;
    width: 200%;
    top: -50%;
    height: 200%;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    border: 1px solid #ccc; }

.squaredThree .link-label:after {
  content: '';
  width: 13px;
  height: 5.2px;
  position: absolute;
  top: 3px;
  left: 1px;
  border: 2px solid #000;
  border-top: none;
  border-right: none;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.squaredThree input[type=checkbox] {
  visibility: hidden; }

.squaredThree input[type=checkbox]:checked + .link-label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }

/* .roundedOne */
.roundedOne {
  width: 18px;
  height: 18px;
  position: relative;
  background: #fcfff4;
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float: left;
  margin-top: 14px; }

.roundedOne label {
  z-index: 9999;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(top, #434343, #b8b8b8);
  background: -o-linear-gradient(top, #434343, #b8b8b8);
  background: -moz-linear-gradient(top, #434343, #b8b8b8);
  background: -ms-linear-gradient(top, #434343, #b8b8b8);
  background: linear-gradient(top, #434343, #b8b8b8);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #000; }

.roundedOne label:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }

.roundedOne input[type=radio] {
  visibility: hidden; }

.roundedOne input[type=radio]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }

/*select*/
.divselect {
  position: relative;
  z-index: 10000; }

.divselect ul {
  width: 100%;
  border: 1px solid #a4a4a4;
  border-top: none;
  background-color: #ffffff;
  position: absolute;
  z-index: 20000;
  margin-top: -1px; }

.divselect ul li {
  height: 30px;
  line-height: 30px; }

.divselect ul li a {
  display: block;
  height: 30px;
  color: #000;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #aeaeae; }

.select {
  width: 100%;
  height: 30px;
  border: 1px solid #a4a4a4;
  font-size: 12px;
  padding-left: 10px;
  color: #a4a4a4;
  border-radius: 2px;
  outline: none;
  line-height: 28px;
  position: relative; }

.option {
  line-height: 30px;
  width: calc(100% + 2px);
  margin-left: -1px;
  position: absolute;
  top: 30px;
  left: 0px;
  display: none;
  background: #000; }

.option ul {
  list-style: none;
  overflow: auto;
  max-height: 150px;
  overflow: auto; }

.option ul li {
  height: 30px;
  background: #e3e3e3;
  text-align: left; }

.review-main {
  color: #000;
  font-size: 0.09375rem; }
  .review-main .weight {
    font-family: SegoeWPN-Bold; }
  .review-main .cart-header .row .col-review-1, .review-main .cart-header .row .col-review-2, .review-main .cart-header .row .col-review-3, .review-main .cart-header .row .col-review-4 {
    line-height: 0.5rem; }
  .review-main .cart-items .row {
    margin-bottom: 0.1875rem; }
    .review-main .cart-items .row .col-review-1, .review-main .cart-items .row .col-review-2, .review-main .cart-items .row .col-review-3, .review-main .cart-items .row .col-review-4 {
      line-height: 0.625rem; }
  .review-main .col-review-1 {
    display: inline-block;
    width: 38.393%;
    float: left; }
    .review-main .col-review-1 img {
      float: left;
      width: 0.625rem;
      margin-right: 33px;
      min-width: 50px; }
    .review-main .col-review-1 .title {
      font-size: 0.125rem;
      font-family: SegoeWPN-Bold;
      margin-top: 0.2375rem;
      line-height: 1;
      height: 0.125rem;
      overflow: hidden; }
    .review-main .col-review-1 .material {
      font-size: 0.09375rem;
      margin-top: 10px;
      line-height: 1; }
  .review-main .col-review-2 {
    display: inline-block;
    width: 22.321%;
    text-align: center;
    float: left; }
  .review-main .col-review-3 {
    width: 23%;
    float: left; }
  .review-main .col-review-4 {
    float: left;
    width: 16.286%; }

@media all and (max-width: 991px) {
  .review-main .col-xs-12 .visible-xs {
    display: inline-block !important; }
  .review-main .col-review-1 {
    width: 65%; }
    .review-main .col-review-1 img {
      float: left;
      margin-right: 15px; }
    .review-main .col-review-1 .title {
      margin-top: 0;
      height: 0.25rem; }
    .review-main .col-review-1 .material {
      margin-top: 0; }
  .review-main .col-review-2, .review-main .col-review-3, .review-main .col-review-4 {
    line-height: 0.2rem !important;
    float: right;
    text-align: right;
    width: 35%; } }

/*# sourceMappingURL=cartDetails.css.map */
