@charset "UTF-8";
@import url("../../assets/css/fonts.css");
* {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased; }

html {
  -webkit-text-size-adjust: none;
  outline: 0; }

body {
  color: #666;
  font-family: 'SegoeWPN','STHeiti','simhei','Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  padding-bottom: 50px; }

ul, li {
  list-style-type: none; }

input {
  outline: none; }

.text-center {
  text-align: center; }

.home-main {
  color: #fff;
  position: relative; }
  .home-main .section1 {
    background: url("../../assets/images/home/home-image2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative; }
    .home-main .section1 .mask {
      position: relative;
      background: url("../../assets/images/home/home-mask3.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      height: 533px; }
    .home-main .section1 .content {
      position: absolute;
      width: 100%;
      top: 45%;
      color: #fff;
      text-align: center; }
      .home-main .section1 .content .title {
        font-family: SegoeWPN-Bold;
        font-size: 0.21875rem;
        margin: -10px 0 -2px 0; }
      .home-main .section1 .content .subtitle {
        font-size: 0.15625rem;
        margin-bottom: 0.4375rem; }
      .home-main .section1 .content .button a {
        display: inline-block;
        height: 0.3125rem;
        line-height: 0.2875rem;
        width: 170px;
        font-size: 0.125rem;
        color: #fff;
        text-decoration: none;
        border: 1px solid #1a110b;
        background: rgba(255, 255, 255, 0.52); }
  .home-main .section2 {
    position: relative;
    color: #000; }
    .home-main .section2 .content {
      padding: 1rem 0;
      text-align: center; }
      .home-main .section2 .content .title {
        font-family: SegoeWPN-Bold;
        font-size: 0.21875rem; }
      .home-main .section2 .content .subtitle {
        font-size: 0.15625rem; }
    .home-main .section2 .row {
      text-align: center;
      margin: 0 35px 0.555rem 45px; }
      .home-main .section2 .row .inner {
        width: calc(100% - 10px);
        position: relative; }
        .home-main .section2 .row .inner .shadow {
          width: 0px;
          height: 0px; }
      .home-main .section2 .row .col-xs-12 {
        padding: 10px; }
      .home-main .section2 .row img {
        width: 100%; }
      .home-main .section2 .row .mask {
        background: -webkit-linear-gradient(bottom, #000, transparent);
        background: -o-linear-gradient(bottom, #000, transparent);
        background: -moz-linear-gradient(bottom, #000, transparent);
        background: -ms-linear-gradient(bottom, #000, transparent);
        background: linear-gradient(bottom, #000, transparent);
        z-index: 999;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%; }
        .home-main .section2 .row .mask .center {
          font-family: SegoeWPN-Bold;
          font-size: 0.21875rem;
          position: absolute;
          text-align: center;
          top: 50%;
          width: 100%;
          color: #fff;
          transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%); }
  .home-main .section3 {
    background: url("../../assets/images/home/home-image1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative; }
    .home-main .section3 .mask {
      position: relative;
      background: url("../../assets/images/home/home-mask3.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      height: 533px; }
    .home-main .section3 .content {
      position: absolute;
      color: #fff;
      top: 45%;
      right: 11.364%;
      width: 77.272%;
      text-align: right; }
      .home-main .section3 .content .title {
        font-family: SegoeWPN-Bold;
        font-size: 0.21875rem;
        margin: -10px 0 -2px 0; }
      .home-main .section3 .content .subtitle {
        font-size: 0.15625rem; }
  .home-main .section4 {
    background: url("../../assets/images/home/home-image8.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative; }
    .home-main .section4 .mask {
      position: relative;
      background: url("../../assets/images/home/home-mask3.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      height: 533px; }
    .home-main .section4 .content {
      position: absolute;
      width: 100%;
      top: 45%;
      color: #fff;
      text-align: center; }
      .home-main .section4 .content .title {
        font-family: SegoeWPN-Bold;
        font-size: 0.21875rem;
        margin: -10px 0 -2px 0; }
      .home-main .section4 .content .subtitle {
        font-size: 0.15625rem; }
      .home-main .section4 .content .button a {
        display: inline-block;
        height: 0.3125rem;
        line-height: 0.2875rem;
        width: 170px;
        font-size: 0.125rem;
        color: #fff;
        text-decoration: none;
        border: 1px solid #1a110b;
        background: rgba(255, 255, 255, 0.52);
        margin-bottom: 0.4375rem; }
  .home-main .section5 {
    background: url("../../assets/images/home/home-image7.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative; }
    .home-main .section5 .mask {
      position: relative;
      background: url("../../assets/images/home/home-mask2.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      height: 480px; }
    .home-main .section5 .content {
      width: 79.2%;
      word-break: break-all;
      position: absolute;
      top: 29.167%;
      left: 10.4167%;
      color: #fff;
      text-align: left; }
      .home-main .section5 .content .title {
        font-family: SegoeWPN-Bold;
        font-size: 0.21875rem; }
      .home-main .section5 .content .subtitle {
        font-size: 0.15625rem;
        margin-top: 0.0875rem;
        margin-bottom: 0.65625rem; }
      .home-main .section5 .content .button a {
        display: inline-block;
        height: 0.3125rem;
        line-height: 0.2875rem;
        width: 300px;
        font-size: 0.125rem;
        color: #fff;
        text-decoration: none;
        border: 1px solid #1a110b;
        background: rgba(255, 255, 255, 0.52);
        text-align: center; }

@media all and (max-width: 767px) {
  .home-main .section2 .row {
    margin-left: 5px;
    margin-right: 5px; }
    .home-main .section2 .row .inner {
      width: 100%; }

  .home-main .section1 .mask, .home-main .section3 .mask, .home-main .section4 .mask {
    height: 400px; }

  .home-main .section5 .mask {
    height: 360px; }
  .home-main .section5 .content .button a {
    width: 210px; }

  .home-main .section1 .content .button a, .home-main .section4 .content .button a {
    width: 140px; } }
@media all and (min-width: 560px) and (max-width: 767px) {
  .home-main .section5 .content .subtitle {
    margin-bottom: 0.3625rem; }
  .home-main .section5 .content .button a {
    width: 300px; } }

/*# sourceMappingURL=home.css.map */
