
//sass --watch assets/css:public/css
@import url("../../assets/css/fonts.css");
*{
    margin:0px;
    padding:0px;
    -webkit-font-smoothing: antialiased;
}
html{
    height:100%;
    -webkit-text-size-adjust:none;
    outline: 0;
}
body{
    color:#000;
    font-family:'SegoeWPN','STHeiti','simhei','Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', SimSun, sans-serif;
    padding-bottom:50px;
    overflow-x:hidden;
}
ul,li{
    list-style-type:none;
}
input{
    outline:none;
}
.text-center{
    text-align:center;
}

section.careers-header{
    background: -webkit-linear-gradient(left, #333, #808080); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #333 , #808080); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, #333 , #808080); /* Firefox 3.6 - 15 */
    background: -ms-linear-gradient(left, #333 , #808080); /* Firefox 3.6 - 15 */
    background: linear-gradient(left, #333 , #808080);/* 标准的语法 */
    position:relative;
}
section.careers-header{
    background: url('../../assets/images/aboutUs/careers.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 500px;
}
section.careers-header2{
  background: url('../../assets/images/aboutUs/aboutUs.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 315px;
}

section.careers-wrapper .container,section.careers-wrapper .container .row,section.careers-wrapper .container .row .col-xs-12,
{
    height:100%;
}

section.careers-header,section.careers-header2{
  overflow:hidden;
  position:relative;
  .container{
    height:100%;
    .row{
      height:100%;
      .col-xs-12{
        height:100%;
      }
    }
  }
  .mask{
    width: 100%;
    z-index: 9999;
    position:absolute;
    top:-6px;
    img{
      width:100%;
    }
  }
  .mask2{
    width:100%;
    z-index: 1;
    height: 400px;
    bottom:0px;
    position: absolute;
    background: -webkit-linear-gradient(bottom, #000, transparent); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom, #000, transparent); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom, #000, transparent); /* Firefox 3.6 - 15 */
    background: -ms-linear-gradient(bottom, #000, transparent); /* Firefox 3.6 - 15 */
    background: linear-gradient(bottom, #000, transparent);/* 标准的语法 */
    opacity:0.6;

  }
  .meg-prompt-wrapper{
    position: absolute;
    top: 50%;
    color:#fff;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: left;
    z-index:999;
    width:calc(100% - 30px);
    .title{
      font-family:'SegoeWPN-Bold';
      font-weight:bold;
      font-size: 0.34375rem;
    }
    .content{
      font-size: 0.125rem;
      line-height:0.1675rem;
      word-wrap: break-word;
      word-break: break-all;
      padding-top: 10px;
      .weight{
        font-family:'SegoeWPN-Bold';
        font-weight:bold;
      }
    }
    .bottom{
      a{
        color: #fff;
        font-size: 0.125rem;
        display: inline-block;
        padding-top: 0.14rem;
        text-decoration:none;
      }
    }
  }
}
section.careers-header2{
  .mask2{
    opacity:1;
    background:none;
    height:auto;
    img{
      width:100%;
    }
  }
  .mask{
    position:absolute;
    top:-6px;
  }
  .meg-prompt-wrapper{
    .title{
      font-size:0.21875rem;
    }
    .content{
      font-size:13px;
      line-height:15px;
    }
  }


}
section.careers-wrapper{
  background: -webkit-linear-gradient(left, #000 , #333); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left, #000 , #333); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left, #000 , #333); /* Firefox 3.6 - 15 */
  background: -ms-linear-gradient(left, #000 , #333); /* Firefox 3.6 - 15 */
  background: linear-gradient(left, #000 , #333); /* 标准的语法 */
  height:100px;
  position:relative;
  overflow-x:hidden;
  .join-wrapper{
    position: absolute;
    top: 50%;
    color:#fff;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: left;
    z-index:999;
    .title{
      font-family:'SegoeWPN-Bold';
      font-weight:bold;
      font-size: 0.2375rem;
      line-height:0.25rem;
    }
    .content{
      font-size:0.15625rem;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}
section.findUs-wrapper{
  color:#000;
  .hr{
    height:1px;
    background:#000;
    opacity:0.3;
    margin:30px 0 -7px 0;
  }
  .title{
    font-size: 0.21875rem;
    font-family: SegoeWPN-Bold;
    margin: 0.25rem 0 0.09375rem 0;
  }
  .wrapper{
    margin-bottom:0.15625rem;
    .subtitle{
      font-size: 0.125rem;
      font-family: SegoeWPN-Bold;
      margin-bottom:0.1125rem;
    }
    .content{
      font-size:13px;
      line-height:15.5px;
    }
    .text-left{
      float:left;
      font-size:0.09375rem;
      height:21px;
      overflow:hidden;
      width:30%;
    }
    .text-right{
      font-family: SegoeWPN-Bold;
      font-size:0.09375rem;
      height:21px;
      overflow:hidden;
    }
  }
  .career-wrapper{
    .title{
      font-size:0.125rem;
      margin:0;
    }
    .subtitle{
      font-size:0.09375rem;
      margin:0.05rem 0;
    }
    .content{
      font-size:13px;
      word-break: break-all;
      line-height: 15px;
      margin-bottom: 0.125rem;
      height:75px;
      overflow:hidden;
    }
    .where-wrapper-title,.where-wrapper-content{
      font-size:13px;
      .text-left{
        float:left;
      }
    }
    .where-wrapper-content{
      font-family: SegoeWPN-Bold;
    }
  }
}

@media all and (max-width:1600px) and (min-width:768px){
  section.events-main {
    .meg-prompt-wrapper {
      .title {
        font-size: 0.27rem;
      }
      .content {
        font-size: 0.11rem;
        padding: 0 5%;
      }
    }
  }
  .events-join-wrapper .join-wrapper{
    .title{
      font-size: 0.2rem;
      line-height: 0.23rem;
    }
    .content{
      font-size:0.13rem;
    }
  }
}

@media all and (max-width: 992px){
    .meg-prompt{
        .submit-div.right-link{
            float:none;
            text-align:center;
            height:auto;
        }
    }
}

@media screen and (max-width:767px) {
  .next-event-section .next-event-wrapper{
    .content{
      line-height: 0.15rem!important;
    }
    .title{
      line-height:0.27rem!important;
    }
    .container2 {
      position: absolute;
      bottom: 0.15625rem;
      width: calc(100% - 50px);
      word-break: break-all;
      padding-left: 20px;
    }
  }
  section.events-main .meg-prompt-wrapper{
    width: calc( 100% - 30px);
    margin-left:auto;
    .title{
      font-size:0.25rem;
    }
    .content{
      padding:0!important;
    }
  }
  .upcoming-section .content .content-wrapper .right{
    margin-top:0.1rem;
    line-height: 16px;
    height: 66px;
    font-size: 13px;
  }
}

a:hover, a:focus{
  text-decoration:none!important;
}

@media all and (max-width: 991px){
  section.content-section .container .row .col-xs-12 .row .col-md-8{
    padding-right:15px;
  }
}

.tcdNumber,.current,.pre-page,.next-page{
  display:none;
}
@media all and (min-width:465px){
   section.careers-header2 .meg-prompt-wrapper{
     margin-top:-30px;
  }
}
@media all and (max-width:465px){
  section.careers-header2 .meg-prompt-wrapper{
   .content{
     font-size:12px;
     line-height:14px;
   }
  }
}
@media all and (min-width:992px){
  .col-left-2{
    width:20.5%!important;
  }
  .col-right-10{
    width:79.5%!important;
  }
  .findUs-wrapper{
    .col-xs-12{
      padding:0 22.5px;
    }
  }
}
a.proceed-bar{
  margin:25px 0;
  font-family: SegoeWP-Bold;
  font-size: 12px;
  display: inline-block;
  width: 100%;
  min-width: 180px;
  height: 30px;
  line-height: 28.5px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  background: -webkit-linear-gradient(left, #381211, #931a1d);
  background: -o-linear-gradient(left, #381211, #931a1d);
  background: -moz-linear-gradient(left, #381211, #931a1d);
  background: -ms-linear-gradient(left, #381211, #931a1d);
  background: linear-gradient(left, #381211, #931a1d);
  cursor: pointer;
  position: relative;
  &:hover{
    color:#fff;
  }
}
@media all and (min-width:1200px){
  .findUs-wrapper .container,.careers-header .container,.careers-wrapper .container,.careers-header2 .container{
    width: 1130px;
  }
}