
//sass --watch assets/css:public/css
@import url("../../assets/css/fonts.css");
*{
    margin:0px;
    padding:0px;
    -webkit-font-smoothing: antialiased;
}
html{
    -webkit-text-size-adjust:none;
    outline: 0;
}
body{
    color:#666;
    font-family:'SegoeWPN','STHeiti','simhei','Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', SimSun, sans-serif;
    padding-bottom:50px;
}
ul,li{
    list-style-type:none;
}
input{
    outline:none;
    font-family:'SegoeWPN','STHeiti','simhei','Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}
.text-center{
    text-align:center;
}
.show-error{
  background:#b2272d;
  height:60px;
  width:100%;
  line-height:60px;
  color:#fff;
  font-family:SegoeWPN-Bold;
  font-size:0.1125rem;
  position:fixed;
  z-index:999;
  top:0;
  text-align:center;
  display:none;
}
.dist:disabled{
  display:none;
}
ul.cartHeader{
  width:100%;
  overflow:auto;
  li{
    float:left;
    font-size:0.21875rem;
    font-family:SegoeWPN-Bold;
    color:#a4a4a4;
    &.first{
      width:23.7168%;
    }
    &.second{
      width:33.5398%;
    }
    &.third{
      width:31.4159%;
    }
    &.forth{
      float:right;
    }
    &.active{
      color:#000;
    }
  }
  padding-bottom:0.1375rem;
  border-bottom:1px solid #a4a4a4;
}
@media all and (max-width:1200px) {
  ul.cartHeader{
    li{
      font-size:0.19rem;
      color:#a4a4a4;
      &.first{
        width:18%;
      }
      &.second{
        width:35%;
      }
      &.third{
        width:29%;
      }
    }
  }
}


.shippingInfo-main{
  padding:0 0 0.3rem 0;
  margin-top:60px;
  .shippinginfo-content{
    //overflow: auto;
    padding-bottom:18px;
    .left{
      border-bottom:1px solid #a4a4a4;
      margin:15px 0;
      >.row{
       margin-bottom:0.109375rem;
       &:last-child{
         margin-bottom:0;
       }
      }
      .col-s-1,.col-s-2{
        margin-bottom:0.109375rem;
        &:last-child{
          margin-bottom:0;
        }
        .content{
          .title{
            font-size:0.09375rem;
            color:#000;
            margin-bottom:0.1rem;
          }
          .input{
            input,select{
              width:100%;
              height:30px;
              border:1px solid #a4a4a4;
              font-size:12px;
              padding-left:10px;
              color:#a4a4a4;
              border-radius:2px;
              outline:none;
            }
            select,.input-wrapper{
              width:30%;
              margin-right:2%;
              &:last-child{
                margin-right:0;
              }
              -webkit-appearance:none;
              -moz-appearance:none;
              appearance:none;
              background:transparent;
              float:left;
            }
            .selectbySorted{
              width:100%;
            }
            .sod_select,.sod_label{
                height:30px;
                line-height:28px;
                background:none;
            }
            .sod_select{
              padding-left:10px;
              border:1px solid #a4a4a4;
              color:#a4a4a4;
              border-radius:2px;
            }
            .sod_select .sod_list ul{
              //background:none;
            }
            .sod_select .sod_list li{
              padding:0 0 0 10px;
              line-height:28px;
            }
            &#select-country{
              .sod_select{
                width:30%;
                margin-right:2%;
                display:inline-block;
                float:left;
              }
              .sod_list ul{
                max-height: 112px!important;
              }
            }
          }
        }
      }
      .col-st-1{
        margin-bottom:0.109375rem;
        .content{
          .title{
            font-size:0.09375rem;
            color:#000;
            margin-bottom:0.1rem;
          }
          .input{
            input{
              width: calc(100% - 50px);
              height:30px;
              border:1px solid #a4a4a4;
              font-size:12px;
              padding-left:10px;
              color:#a4a4a4;
              border-radius:2px;
            }
          }
        }
      }
      .pay-items{
        margin-right:30px;
        .item{
          padding:3px 30px;
          &.selected{
            padding:20px 30px 30px 30px;
            margin:15px 0;
          }
          .title{
            font-size: 0.125rem;
            font-family: SegoeWPN-Bold;
            color:#000;
            line-height:46px;
          }
          &.selected{
            background:#e3e3e3;
            border-radius:5px;
            border:1px solid #7f7f7f;
          }
          >div{
            overflow:auto;
            .img-wrapper{
              overflow:auto;
              display:inline-block;
              float:left;
              text-align:center;
              width:225px;
              &:before{
                content:".";  /* 具体的值与垂直居中无关，尽可能的节省字符 */
                margin-left:-5px; font-size:10px;  /* 修复居中的小BUG */
                visibility:hidden;  /*设置成隐藏元素*/
                line-height:45px;
              }
              img:first-child{
                max-height:45px;
                margin:0 auto;
              }
              img.debit-img,img.wechat-img{
                max-height:48px;
              }
            }
            .right-content{
              float:right;
              text-align:left;
              width:calc(100% - 225px);
              .title{
                font-size: 0.125rem;
                font-family: SegoeWPN-Bold;
                color:#000;
                line-height:46px;
              }
              .content{
                .qrcode-wrapper{
                  width:auto;
                  padding-left:0.5rem;
                  text-align: center;
                  margin-top:10px;
                  overflow:hidden;
                  img{
                    height:0.975rem;
                    max-height:130px;
                  }
                  .show-msg{
                    color:#000;
                    font-size:0.09375rem;
                    line-height:18.5px;
                    margin-top:8px;
                  }
                }
                .subtitle{
                  font-size:0.09375rem;
                  color:#000;
                  margin:8px 0 15px 0;
                  font-family:SegoeWPN;
                }
                input{
                  display:block;
                  width:143px;
                  height:30px;
                  border:1px solid #7f7f7f;
                  font-size:12px;
                  color:#7f7f7f;
                  padding:0 9px;
                  &:-ms-input-placeholder{text-align: center;}
                  &::-webkit-input-placeholder{text-align: center;}
                  &::-moz-placeholder{text-align: center;}
                }
                .left{
                  width:auto;
                  border:none;
                  margin:0;
                  float:left;
                  padding:0;
                  input{
                    width:95px;
                  }
                  .subtitle{
                    margin:17px 0;
                  }
                }
                .right{
                  margin:0;
                  width:auto;
                  padding-left:20px;
                  padding-bottom:0;
                  float:left;
                  input{
                    width:75px;
                  }
                  .subtitle{
                    margin:17px 0;
                  }
                }
                .checkbox-input{
                  display:inline-block;
                  //line-height: 37px;
                  position: relative;
                  margin-top: 20px;
                  line-height: 12px;
                  width:100%;
                  input[type='checkbox']{
                    float:left;
                    width:auto;
                    margin-right:11px;
                  }
                  &.payment-checkbox-input{
                    margin-top:30px;
                  }
                }
                p{
                  font-size:13px;
                  color:#000;
                  line-height:15px;
                  padding-left:26px;
                  margin:36px 0 15px 0;
                }
              }

            }
          }
        }
      }
      &.review{
        //border:none;
        .title{
          font-size:0.15625rem;
          font-family: SegoeWPN-Bold;
          margin-bottom:15px;
          color:#000;
        }
        .subtitle{
          font-size:0.125rem;
          font-family:SegoeWPN-Bold;
          color:#000;
          margin-bottom:10px;
        }
        .address-content{
          padding-top:7px;
          font-size:0.09375rem;
          color:#000;
          line-height:19px;
          a{
            background:#e3e3e3;
            display:inline-block;
            text-align:center;
            text-decoration:none;
            width:70px;
            height:30px;
            line-height:28px;
            border:1px solid #a4a4a4;
            color:#000;
            font-size:12px;
            font-family: SegoeWPN-Bold;
            margin:28px 0 30px 0;
            padding-right:1px;
            border-radius:2px;
          }
        }
        .col-xs-12{
          margin-bottom:22px;
        }
        @media all and (min-width:992px) {
          .second{
            margin-left:-40px;
            &.text-left{
              text-align:center;
            }
          }
          .third{
            margin-left:10px;
            &.text-left{
              text-align:center;
            }
          }
        }
      }
    }
    .right{
      .hr{
        margin-bottom: 24px;
        margin-top: 2px;
      }
      .title{
        font-size:0.15625rem;
        font-family: SegoeWPN-Bold;
        margin-bottom:15px;
        color:#000;
        margin-top:11px;
      }
      .subtitle{
        font-size:0.125rem;
        font-family:SegoeWPN-Bold;
        color:#000;
        margin-bottom:15px;
      }
      .address-content{
        padding-top:7px;
        font-size:0.09375rem;
        line-height:19px;
        color:#000;
        a{
          background:#e3e3e3;
          display:inline-block;
          text-align:center;
          text-decoration:none;
          width:70px;
          height:30px;
          line-height:28px;
          border:1px solid #a4a4a4;
          color:#000;
          font-size:12px;
          font-family: SegoeWPN-Bold;
          margin:28px 0 30px 0;
          padding-right:1px;
          border-radius:2px;
        }
      }
      .content{
        color:#000;
        ul{
          li{
            width:100%;
            height:27px;
            line-height:27px;
            div{
              float:right;
              font-size:0.09375rem;
              color:#000;
              &.weight{
                font-weight:bold;
                font-size:0.125rem;
              }
            }
          }
        }
        a{
          background:#e3e3e3;
          display:inline-block;
          text-align:center;
          text-decoration:none;
          width:70px;
          height:30px;
          line-height:28px;
          border:1px solid #a4a4a4;
          color:#000;
          font-size:12px;
          font-family: SegoeWPN-Bold;
          margin:15px 0;
          padding-right:1px;
          border-radius:2px;
        }
      }
      &.review{
        //border-left:1px solid #a4a4a4;
      }
    }

  }
  .hr{
    background:#a4a4a4;
    height:1px;
    width:100%;
  }
  .proceed-bar{
    margin:30px 0;
    font-family: SegoeWP-Bold;
    font-size: 12px;
    display: inline-block;
    width: 1.4375rem;
    min-width: 180px;
    height: 30px;
    line-height: 28.5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    background: -webkit-linear-gradient(left, #381211, #931a1d);
    background: -o-linear-gradient(left, #381211, #931a1d);
    background: -moz-linear-gradient(left, #381211, #931a1d);
    background: -ms-linear-gradient(left, #381211, #931a1d);
    background: linear-gradient(left, #381211, #931a1d);
    cursor: pointer;
    position: relative;
  }
}
@media all and (min-width:768px){
  .col-s-1,.col-s-2{
    width: 50%;
  }
  .col-st-1{
    width: 50%;
  }
}

@media all and (min-width:992px){
  .col-s-1{
    width: 36.875%;
    &.col-xs-12{
      padding-right:35px;
    }
  }
  .col-s-2{
    width:63.125%;
  }
  .col-st-1{
    width: 26.25%;
  }
  .shippingInfo-main{
    .shippinginfo-content{
      .left{
        width:71.327%;
        float:left;
        border-right: 1px solid #a4a4a4;
        border-bottom:0;
      }
      .right{
        width:28.673%;
        float:left;
        padding-left:30px;
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .shippingInfo-main .container{
    width: 1130px;
    max-width: 1130px;
    margin:0 auto;
  }
}

@media all and (max-width:991px) {
  .shippingInfo-main .shippinginfo-content .left .col-st-1 .content .input,.shippingInfo-main .shippinginfo-content .left .col-s-2 .content .input{
    select,.input-wrapper {
      width: calc(31.4% - 3px);
      margin-right: 3%;
    }
    input {
      width: 100%;
    }
  }
  .shippingInfo-main .shippinginfo-content {
    .left{
      padding-bottom:22px;
    }
    form {
      .row{
        margin:15px -15px;
      }
    }
  }
  .shippingInfo-main .shippinginfo-content .left .pay-items{
    margin:0;
  }
  .input-wrapper{
    width: calc(31.2% - 0px)!important;
    margin-right: 3%!important;
    &:last-child{
      margin-right: 0px!important;
    }
  }
}
@media all and (max-width:615px){
  .shippingInfo-main .shippinginfo-content .left .pay-items .item > div {
    .img-wrapper {
      width: 145px;
      img:first-child{
        max-height:36px;
      }
      img.alipay-img{
        max-height:28px;
      }
    }
    .title{
      //line-height:36px;
    }
    .right-content{
      width:100%;
    }
  }
  .shippingInfo-main .shippinginfo-content .left .pay-items .item {
    padding: 10px 20px 20px 20px;
    &.selected{
      padding: 10px 20px 20px 20px;
    }
  }
}

.squaredThree {
  width:300px;
  overflow:hidden;
  height:18px;
  .link-word{
    width: 125px;
    position: absolute;
    display: table;
    top: 2px;
    left: 26px;
    font-weight: 100;
    font-size:12px;
    color:#000;
    &.link-send{
      width:300px;
      font-size:0.09375rem;
    }
  }
}
.squaredThree .link-label {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(top, #666 0%, #bdbdbd 100%);
  background: -webkit-linear-gradient(top, #666 0%, #bdbdbd 100%);
  background: linear-gradient(to bottom, #666 0%, #bdbdbd 100%);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border:1px solid #0d0d0d;
  &:after{
    content: "";
    display: block;
    position: absolute;
    left: -50%;
    width: 200%;
    top:-50%;
    height: 200%;
    transform:scale(0.5);
    -webkit-transform:scale(0.5);
    -o-transform:scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    border:1px solid #ccc;
  }
}
.squaredThree .link-label:after {
  content: '';
  width: 13px;
  height: 5.2px;
  position: absolute;
  top: 3px;
  left: 1px;
  border: 2px solid #000;
  border-top: none;
  border-right: none;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredThree input[type=checkbox] {
  visibility: hidden;
}
.squaredThree input[type=checkbox]:checked + .link-label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}




/* .roundedOne */
.roundedOne {
  width: 18px;
  height: 18px;
  position: relative;
  background: #fcfff4;
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float: left;
  margin-top: 14px;

}
.roundedOne label {
  z-index:9999;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(top, #434343, #b8b8b8);
  background: -o-linear-gradient(top, #434343, #b8b8b8);
  background: -moz-linear-gradient(top, #434343, #b8b8b8);
  background: -ms-linear-gradient(top, #434343, #b8b8b8);
  background: linear-gradient(top, #434343, #b8b8b8);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border:1px solid #000;
}
.roundedOne label:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: 2px;
  background:#000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.roundedOne input[type=radio] {
  visibility: hidden;
}
.roundedOne input[type=radio]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}


/*select*/
.divselect{position:relative; z-index:10000;}
.divselect ul{width:100%;border:1px solid #a4a4a4; border-top:none; background-color:#ffffff; position:absolute; z-index:20000; margin-top:-1px;}
.divselect ul li{height:30px; line-height:30px;}
.divselect ul li a{display:block; height:30px; color:#000; text-decoration:none; padding-left:10px; padding-right:10px;border-bottom: 1px solid #aeaeae;  }

.select{
  width: 100%;
  height: 30px;
  border: 1px solid #a4a4a4;
  font-size: 12px;
  padding-left: 10px;
  color: #a4a4a4;
  border-radius: 2px;
  outline: none;
  line-height:28px;
  position:relative;
}
.option{line-height:30px;    width: calc(100% + 2px);  margin-left: -1px;position:absolute;top:30px;left:0px;display:none;background:#000;}
.option ul{list-style:none;overflow: auto;max-height:150px;overflow:auto;}
.option ul li{height:30px;background:#e3e3e3;text-align:left;}


.review-main{
  color:#000;
  .weight{
    font-family: SegoeWPN-Bold;
  }
  font-size:0.09375rem;
  .cart-header{
    .row{
      .col-review-1,.col-review-2,.col-review-3,.col-review-4{
        line-height:0.5rem;
      }
    }
  }
  .cart-items{
    .row{
      margin-bottom:0.1875rem;
      .col-review-1,.col-review-2,.col-review-3,.col-review-4{
        line-height:0.625rem;
      }
    }
  }
  .col-review-1{
    display: inline-block;
    width: 38.393%;
    float: left;
    img{
      float:left;
      width:0.625rem;
      margin-right:33px;
      min-width:50px;
    }
    .title{
      font-size:0.125rem;
      font-family:SegoeWPN-Bold;
      margin-top:0.2375rem;
      line-height:1;
      height:0.125rem;
      overflow:hidden;
    }
    .material{
      font-size:0.09375rem;
      margin-top:10px;
      line-height:1;
    }
  }
  .col-review-2{
    display: inline-block;
    width: 22.321%;
    text-align: center;
    float:left;
  }
  .col-review-3{
    width:23%;
    float:left;
  }
  .col-review-4{
    float:left;
    width:16.286%;
  }
}
@media all and (max-width: 991px){
  .review-main {
    .col-xs-12{
      .visible-xs{
        display:inline-block!important;
        //float:left;
        //font-family:SegoeWPN-Bold;
      }
      //font-size:12px;
    }
    .col-review-1{
      width:65%;
      img{
        float:left;
        //width:60px;
        margin-right:15px;
      }
      .title{
        margin-top:0;
        height: 0.25rem;
        //font-size:13px;
        //height:27px;
      }
      .material{
        margin-top:0;
        //font-size:12px;
      }
    }
    .col-review-2,.col-review-3,.col-review-4{
      line-height: 0.2rem!important;
      float: right;
      text-align: right;
      width: 35%;
    }

  }
}