.tcdPageCode{color: #ccc;text-align:center;}
.tcdPageCode a{color: #000;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 0.16rem;vertical-align: middle;font-size:0.125rem;font-family:SegoeWPN-Bold;  }
.tcdPageCode a:hover{text-decoration: none;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 0.16rem;color:#b4272d;vertical-align: middle;font-size:0.125rem;font-family:SegoeWPN-Bold; }
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 0.16rem;color: #bfbfbf;vertical-align: middle;}
a.prevPage,a.nextPage,span.next-page,span.pre-page{
    font-size:0.21875rem!important;
    line-height:20px!important;
    font-family:SegoeWPN-Bold;
}